.shop-title {
	text-align: center;
}

.products {
	display: grid;
	height: auto;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
    gap: 2vh 0;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 1rem;
	/* gap: 20px; */
	width: 20vw;
	height: 90%;
    border: 4px solid #121212;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
    min-height: 350px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
}

.img-container img {
	height: 80%;
	width: 90%;
}

.product-info {
	display: flex;
	justify-content: space-between;
	text-align: center;
    flex-shrink: 1;
	gap: 1vw;
	/* margin: 3%; */
}

.product-info p {
	margin: 0;
    padding: 0;
    min-height: 57px;
}

.add-to-cart-btn {
	width: 200px;
    /* margin: 3%; */
	min-height: 50px;
	border-radius: 20px;
	border-color: 2px solid #3b0764;
	background-color: #d8b4fe;
}

.add-to-cart-btn:hover {
	color: white;
	border-color: black;
	background-color: #3b0764;
	transform: scale(0.95);
	transition: 0.5s;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1280px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
    .product {
        width: 30vw;
    }
}

@media screen and (max-width: 900px) {
    .products {
        grid-template-columns: 1fr;
    }
    .product {
        width: 50vw;
        margin-bottom: 40px;
    }
}
